.challegerBoxContainer {
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.challegerNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challegerNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;

}

.challegerNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challegerNotActive p > img {
    margin-bottom: 1rem;
}

.challegerActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challegerActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.challegerActive main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.challegerActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challegerActive main p {
    line-height: 1.4;
}

.challegerActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challegerActive footer button {
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: 0.2s;
}

.challegerActive footer button:first-child {
    background: var(--red);
}

.challegerActive footer button:first-child:hover {
    background: var(--white);
    color: var(--title);
    border-bottom: 5px solid var(--red);
}

.challegerActive footer button:last-child {
 background: var(--green);
}

.challegerActive footer button:last-child:hover {
    background: var(--white);
    color: var(--title);
    border-bottom: 6px solid var(--green);
}